<h1>You fell in love with <%= ThingVar %> </h1>

<% if (ThingVar.toLowerCase() === "mehul") { %>
    <p>That's really a nice choice.</p>
<% }else{ %>
    <p>Bad choice! You should have said Mehul!</p>
<% } %> 

