body{
    background-color: blueviolet;
    /* align:centre; */
}

#container{
    background-color: cadetblue;
    width: 360px;
    margin: auto;
}

.completed{
    color: gray;
    text-decoration: line-through;
}