body{
    background-color: lightslategray;
    /* align:centre; */
}

#container{
    margin: auto;
    margin-top: 100px;
    background-color: #f7f7f7;
    width: 360px;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
    padding: 0px 0px;

}

input:focus{
    background: white;
    border: 3px solid;
    outline: none;
}

input{
    color: lightcoral;
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border-color:rgb(0,0,0,0);
}

li:nth-child(2n){
    background-color:#f7f7f7 ;
}

h1{
    background-color: lightcoral;
    text-transform: uppercase;
    color: whitesmoke;
    margin:0;
    padding: 10px 20px;
    font-weight: normal;
    text-align: left;
    /* float: left; */
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.completed{
    color: gray;
    text-decoration: line-through;
}



.fa-plus{
    float: right;
}

.fa-trash{
    /* margin-right: 5px; */
    padding: 5px;
    display: inline-block;
}

span{
    margin: 0;
    height: 40px;
    background: #e74c3c;
    width: 40px;
    margin-right: 20px;
    color:rgb(0,0,0,0);
    text-align: center  ;
    width: 0;
    display: inline-block;
    transition-duration: 350ms;
}
span:nth-child(2n){
    color: palevioletred;
}
li:hover span{
    width: 40px;
    color: white;
}